html,
body {
  margin: 0;
  padding: 0;
  background-image: url(./img/black-wallpaper.jpg);
  box-sizing: border-box;
  height: 100vh;
  font-family: 'Righteous', cursive;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor {
    width: 100px;
    height: 100px;
    position:absolute;
    transition: 100ml;
    background: url(../img/arma-cursor.gif);
    background-size: contain;
    background-repeat: no-repeat;
  }

.portal-index {
  height: 500px;
  width: auto;
}