@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  background-image: url(./img/background1.jfif);
  box-sizing: border-box;
  height: 100vh;
  font-family: 'Righteous', cursive;
}

main {
  margin: 15px;
}

header {
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

h1 {
  font-size: 50px;
  color: white;
  text-align: center;
  margin: 0 0 40px 0;
}

.black-bg {
  width: max-content;
  height: max-content;
}

.menu-filter {
  background-color: #38cd4e1e;
  width: 95%;
  border-radius: 8px;
  margin-bottom: 50px;
}

.menu-left-side {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  height: 70px;
  margin-left: 35px;
}

.menu-right-side {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  margin-right: 35px;
  height: 70px;
}

.menu-right-side a {
  margin-right: 30px;
}

.menu-container {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}

option {
  color: #221C20;
  font-size: 18px;
}

input,
select,
button {
  margin: 10px;
  outline: none;
  border: none;
  text-align: center;
  font-size: 16px;
  font-family: 'Righteous', cursive;
}

select,
button {
  width: 150px;
  height: 45px;
  border-radius: 20px;
  background: #87f583;
  color: black;
  cursor: pointer;
  border: 1px solid #87f583;
  text-align-last: center;
}

select:hover {
  background: #05f2af;
  border: 1px solid #05f2af;
  transition-duration: 0.5s;
  cursor: pointer;
  height: 45px;
  box-shadow: 0px 0px 10px #48ff00, 0px 0px 20px #00ffd5, 0px 0px 30px #2BF14B;
}

input {
  position: relative;
  right: 20px;
  font-size: 16px;
  background: transparent;
  color: white;
}

input:hover {
  cursor: pointer;
  height: 45px;
  box-shadow: 0px 0px 10px #48ff00, 0px 0px 20px #00ffd5, 0px 0px 30px #2BF14B;
}

input,
#sort-btn {
  border-radius: 20px;
  border: 1px solid #87f583
}

.search {
  border: 1px solid #87f583;
  width: 35%;
  display: flex;
  justify-content: flex-start;
  height: 40px;
}

#sort-btn {
  /* position: relative;
  right: 60px; */
  width:100px;
  height:60px;
  margin-right: 50px;
}

#btn-clearFilters {
  width: 80px;
  height: 45px;
  border-radius: 20px;
  color: black;
  background: #87f583;
  border: 1px solid #87f583;
  font-family: 'Righteous', cursive;
}

#btn-clearFilters:hover, #sort-btn:hover, #status-filter:hover, #gender-filter:hover {
  background: #05f2af;
  border: 1px solid #05f2af;
  transition-duration: 0.5s;
  cursor: pointer;
  box-shadow: 0px 0px 10px #48ff00, 0px 0px 20px #00ffd5, 0px 0px 30px #2BF14B;
}

#btn-clearFilters,
#status-filter,
#gender-filter,
#sort-btn,
.slime {
  text-decoration:none;
  color:black;
  display:flex;
  justify-content: center;
  align-items:center;
  background: #2BF14B;
  border-radius: 40% 60% 50% 40%/40% 40% 60% 60%;
  animation: anime 7s linear infinite;
  transition: 1s;
}

.goback-btn {
  text-decoration:none;
  color:black;
  background: #2BF14B;
  border-radius: 40% 60% 50% 40%/40% 40% 60% 60%;
  animation: anime 7s linear infinite;
  transition: 1s;
  padding: 22px;
}

.allCharts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
}

.statusChartContainer, .genderChartContainer, .speciesChartContainer{
  margin: 50px;
  font-family: "Poppins", sans-serif;
}

.chartsTittle{
  color:#e3dde0;
  text-align: start;
  font-weight: bolder;
}


#btn-clearFilters,
#status-filter,
#gender-filter,
.slime {
  width:80px;
  height:60px;
}

#btn-clearFilters,
#status-filter,
#gender-filter {
  margin-left: 80px;
}

@keyframes anime{
  0% {border-radius: 40% 60% 50% 40%/40% 40% 60% 60%;}
  25% {border-radius: 70% 40% 80% 80%/60% 80% 40% 30%;}
  50% {border-radius: 40% 50% 50% 40%/80% 40% 20% 70%;}
  75% {border-radius: 80% 50% 70% 90%/40% 60% 70% 40%;}
  100% {border-radius: 40% 60% 50% 40%/40% 40% 60% 60%;}
}

.slime:hover{
  background: #05f2af;
  border: 1px solid #05f2af;
  box-shadow: 0px 0px 10px #48ff00, 0px 0px 20px #00ffd5, 0px 0px 30px #2BF14B;
  transition: 1s;
}

.status,
.gender {
  display: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.container,
.cards,
.statistic {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/*CARDS*/

.cards_container, .inner-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 360px;
  width: 240px;
  /*min-width: 200px;*/
  /*max-width: 240px;
  max-height: 100%;*/
  border-radius: 10px;
}

.cards_container{
  margin:18px;
  flex: 1;
}

.inner-div{
  transition: all 0.6s cubic-bezier(0.8, -0.4, 0.2, 1.7);
  transform-style: preserve-3d;
}
 
.cards_container:hover .inner-div {
  transform: rotateY(180deg);
}

.front-card,
.back-card {
  position: relative;
  backface-visibility: hidden;
  box-shadow: 1px 1px 8px #2bf14bbf;
  background-color: #0cf72f08;
  height: 360px;
  width: 240px;
  border-radius:10px;
  padding: 2%;
}

.back-card{
  transform: rotateY(180deg);
  position: absolute;
  box-shadow: 1px 1px 8px #2bf14bbf;
  background: #000 url(https://i.ibb.co/bHrzRqm/background1.jpg);
}

.back-card span {
  text-align: center;
}

h3 {
  font-size: 18px;
  letter-spacing: 1px;
  color: white;
  text-shadow: 0.1em 0.1em rgb(0, 0, 0);
  font-weight: bold;
  font-family: 'Righteous', cursive;
}

.moldura{
  position: absolute;
  top: 43px;
  right: 20px;
  left: -13px;
}

.moldura img {
  height: 228px;
}

img,
.character_img {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  border-radius: 10px;
  height: 177px;
  width: auto;
  margin-left: 19px;
}
 
img {
  border-radius: 10px 0 0 10px;
}
 
.info{
  border-radius: 10px;
  border: 1px solid #2bf14c49;
  margin: 5px;
  margin: 20px;
}
.info p {
  color: white;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #000;
}

.character_info {
  margin-top: 22px;
}

#character_name{
  width:100%;
  height: 50px;
}

#character_name,
#character_status,
#character_gender,
#episodes,
p {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}
 
p {
  font-size: 16px;
  color: white;
}


/*#episodes {
  margin-top: 10px;
  font-weight: 600;
}*/

.stats {
  margin: 18px;
  position: relative;
  display: flex;
  flex-direction: column;
}

span {
  font-weight: 600;
}

#totalCharacters, #genderAverage {
  border-radius: 20px;
  background: #221C20;
  border: 1px solid;
  margin: 5px;
  padding: 5px;
}

.text {
  color: #e3dde0;
}

.portal-menu {
  top: 27%;
  position: absolute;
  width: 200px;
  left: 40%;
  height: 200px;
}

.img-title {
  margin-top: -35px;
  width: 550px;
  height: auto;
}


@media (max-width: 1204px) {
  #btn-clearFilters, #status-filter, #gender-filter {
    margin-left: 30px;
  }

  #sort-btn {
    margin-right: 10px;
  }

  .menu-right-side a {
    margin-right: 5px;
  }

  .portal-menu{
    top: 33%;
    position: absolute;
    width: 200px;
    left: 37%;
    height: 200px;
  }

  input {
    right: 0px;
  }
}

@media (max-width: 901px) {
  .cards_container {
    flex: 100%;
    height: 490px;
    display: flex;
    flex-direction: column;
    max-width: 280px;
    min-width: 280px;
  }

  .stats {
    flex: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  #genderAverage, #totalCharacter, p {
    text-align: center;
    margin: 8px 0;
    font-size: 16px;
  }

  #totalCharacters, #genderAverage{
    max-width: 378px;
    max-height: 132px;
    min-width: 256px;
    align-content: center;
  }

  .text {
    align-content: center;
    padding: 10px;
  }

  .character_info {
    margin-left: 37px;
  }

  img {
    height: 260px;
    width: 280px;
    border-radius: 10px 10px 0 0;
  }

  header {
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }

  h1 img {
      margin: 30px 0;
      font-size:50px;
      height: auto;
      width: auto;
  }

  .menu-filter {
    margin-top: 10px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    right: 0;
  }

  #search,
  #status-filter,
  #gender-filter,
  button {
    margin-bottom: 0;
  }

  input {
    left: 5px;
  }

  #sort-btn {
    position: relative;
    right: 5px;
  }

}

@media (max-width: 320px) {
  h1 {
    margin: 30px 0;
    font-size:50px;
  }

  #genderAverage, #totalCharacter {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    flex-direction: column;
  }
  .text {
    align-content: center;
  }

  #sort-btn, input {
    position: relative;
    right: 0;
    left: 0;
    margin: 10px;
  }

  .menu-filter {
    flex-direction: column;
  }
}

